.btn-xl{
    // background: #44b3dd;
}
.bg-dark{
    background-color: white !important;
 
}
h2{
    color: black;
}
a{
    color: white;
}
#contact{
    background: #7cceed;
   h2,p{
    color: white !important;
   }
}
.clrPhone{
 color: white;
}
.divider{
    border-color: white;
}
.resume-container{
    display: flex;
    color: black;
    justify-content: space-between;
    font-size: 30px;
    padding: 0;
}