.btn-xl{
    // background: #44b3dd;
}
.bg-dark{
    background-color: white !important;
 
}
h2{
    color: black;
}
a{
    color: white;
}
#contact{
    background: #7cceed;
   h2,p{
    color: white !important;
   }
}
.clrPhone{
 color: white;
}
.divider{
    border-color: white;
}
.contact-info{
    .text-muted:hover{
        color: #363131 !important;
    }
}