<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">About me...! It's Interesting to say</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">
                    <!-- My Name is Saikiran Duddukuri<br>
                    I'm a Frontend developer and Having good knoledge multiple technologies<br> -->
                    “I'm an experienced software engineer who constantly seeks out innovative solutions to everyday problems.
                     In my Three years in this industry, I've honed my analytical thinking and collaboration skills, and I love working with a team. 
                     I've also had the opportunity to serve as the software engineer lead for two projects with Angular Technology.
                </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Find My Skills</a>
            </div>
        </div>
    </div>
</section>