<footer class="bg-light py-5" *ngIf="data">
  <div class="container">
    <div class="small text-center text-muted">
      <!-- Copyright &#169; DSK  -->
      <!-- <a href={{data.instagram}} target="_blank"
        ><i class="fa fa-instagram"></i
      ></a> -->
      <!-- <a href={{data.facebook}} target="_blank"
        ><i class="fa fa-facebook"></i
      ></a> -->
      <a
        href={{data.linkedin}}
        target="_blank"
        ><i class="fa fa-linkedin"></i
      ></a>
    </div>
  </div>
</footer>
