
button{
  outline: none;
}
a{
  color: white !important;
}
.changeColor{
  background: var(--main-header-color);
  transition: height 0.7s;
}
.collapsedBgColor{
  transition: height 0.7s;
  background: white;
  color: black;
}
.nav-item{
  border-bottom: 3px solid var(--main-header-color);
}
.nav-item:hover, .active{
  border-bottom: 3px solid #fff;
  transition: width 1s ease;
} 