
button{
  outline: none;
}
a{
  color: white !important;
}
.changeCOlor{
  background: #7cceed;
  transition: height 0.7s;
}
.collapsedBgColor{
  transition: height 0.7s;
  background: white;
  color: black;
}
.navbar-nav{
  .nav-item{
    transition: all 0.5s;
    text-align: center;
    width: 100px;
  }
  .nav-item:hover{
    // background: #70b2e1;
    // border-radius: 50%;
  }
}