
button{
  outline: none;
}
a{
  color: white !important;
}
.changeColor{
  background: var(--main-header-color);
  transition: height 0.7s;
}
.collapsedBgColor{
  transition: height 0.7s;
  background: white;
  color: black;
}
.nav-item{
  border-bottom: 3px solid transparent;;
}
.nav-item:hover, .active{
  // border-bottom: 3px solid #fff;
  // transition: width 1s ease;
} 

.stroke ul li a{
  position: relative;
  display: block;;
}
.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.stroke ul li a:hover:after {
  width: 100%;
}