<nav
  class="navbar navbar-expand-lg navbar-light fixed-top py-3"
  id="mainNav"
  [ngClass]="{ changeColor: changeHeaderColor || collapseTheHeader }"
>
  <div class="container">
    <a class="navbar-brand" href="#"
      >{{data.name}}</a
    >
    <button id="collapse-button"
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <i class="fa-thin fa-bars fa-xl"></i>
    </button>
    <div class="stroke navbar-collapse collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#about" (click)="closeMenu()">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills" (click)="closeMenu()">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience" (click)="closeMenu()">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" (click)="closeMenu()">Contact</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
