<div id="portfolio">
  <div class="container-fluid p-0">
    <div class="pro">
      <h2 class="text-center mt-0">Projects</h2>
      <hr class="divider my-4" />
    </div>
    <div class="row no-gutters">

      <div class="card text-white bg-primary col-mb-4">
        <div class="card-header">Food Bud</div>
        <div class="card-body">
          <h5 class="card-title">Food Ordering</h5>
          <p class="card-text">Food bud is a food categorized website and here we can see based on our ......</p>
          <button type="button" data-toggle="modal" data-target="#foodbudModal" class="btn viewMore">View more</button>
        </div>
      </div>
      <div class="card text-white bg-primary col-mb-4">
        <div class="card-header">Food And Safety</div>
        <div class="card-body">
          <h5 class="card-title">Food Audit</h5>
          <p class="card-text">Food & safety is creating for Landon ,This is a project for auditoring the restarents...
          </p>
          <button type="button" data-toggle="modal" data-target="#foodandsafetyModal" class="btn viewMore">View
            more</button>
        </div>
      </div>
      <div class="card text-white bg-primary col-mb-4">
        <div class="card-header">Matrimony</div>
        <div class="card-body">
          <h5 class="card-title">Matrimonial</h5>
          <p class="card-text">Matrimonial website is a website which help you find a partner of your choice...</p>
          <button type="button" data-toggle="modal" data-target="#matrimonyModal" class="btn viewMore">View
            more</button>
        </div>
      </div>
      <div class="card text-white bg-primary col-mb-4">
        <div class="card-header">Qur Store</div>
        <div class="card-body">
          <h5 class="card-title">Healthcare</h5>
          <p class="card-text">QurHealth is a healthcare data management organization with a focus...</p>
          <button type="button" data-toggle="modal" data-target="#qurstoreModal" class="btn viewMore">View more</button>
        </div>
      </div>
      <div class="card text-white bg-primary col-mb-4">
        <div class="card-header">Action Planner</div>
        <div class="card-body">
          <h5 class="card-title">Bussiness Management Systems</h5>
          <p class="card-text">Action Planner is a business management tool that involves...</p>
          <button type="button" data-toggle="modal" data-target="#actionplannerModal" class="btn viewMore">View
            more</button>
        </div>
      </div>
      <div class="card text-white bg-primary col-mb-4">
        <div class="card-header">Hawes & Curtis</div>
        <div class="card-body">
          <h5 class="card-title">E - Commerse</h5>
          <p class="card-text">Hawes & Curtis is famous for its quintessentially British menswear and womenswear...</p>
          <button type="button" data-toggle="modal" data-target="#hawesandcurtis" class="btn viewMore">View
            more</button>
        </div>
      </div>
     
    </div>
  </div>
  
  <!-- Modal  -->
  <div class="modal fade" id="foodbudModal" tabindex="-1" role="dialog" aria-labelledby="foodbudModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="foodbudModalLabel">Project Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="boxShadow">
            <div>
              <h3>Food Bud</h3>
            </div>
            <div class="duration">
              <!-- <h5></h5> -->
              <div class="durationBody  col-sm-12">
                <div class="col-12 col-sm-3 col-lg-4 durationInlineLeft">
                  <h6>Duration</h6>
                </div>
                <div class="col-12  col-sm-3 col-lg-4 durationInlineLeft">
                  <h6>Start : </h6>
                  <h6>Oct-2020</h6>
                </div>
                <div class="col-12  col-sm-3 col-lg-4 durationInline">
                  <h6>End : </h6>
                  <h6>Feb-2021</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="boxShadow">
            <h5>Description</h5>
            <p>Foodbud is a  food recommendation platform that provides its users personalized food recommendations based on their food allergies, dietary and taste preferences. It helps them navigate safe and nutritious food options by simplifying ingredient analysis.
            </p>
          </div>
          <div class="boxShadow">
            <h5>Environment</h5>
            <p>Worked on Angular 9, HTML, SCSS, Bootstrap, Angular material etc.</p>
          </div>
          <div class="boxShadow">
            <h5>Roles & Responsibilities</h5>
            <ul>
              <li>Working On second phase of implementation and Every phase we are adding new functionality </li>
              <li>Code review and refactoring.</li>
              <li>Responsible for doing unit testing & integration testing of the code.</li>
              <li>Working on performance tuning to speed up the system</li>
              <li>Involved in solving the issues which we got from QA</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>


  <!-- Modal  -->
  <div class="modal fade" id="foodandsafetyModal" tabindex="-1" role="dialog" aria-labelledby="foodandsafetyModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="foodandsafetyModalLabel">Project Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="boxShadow">
            <div>
              <h3>Food & Safety</h3>
            </div>
            <div class="duration">
              <div class="durationBody  col-sm-12">
                <div class="col-12 col-sm-3 col-lg-4 durationInlineLeft">
                  <h6>Duration</h6>
                </div>
                <div class="col-12  col-sm-3 col-lg-4 durationInlineLeft">
                  <h6>Start : </h6>
                  <h6>Oct-2020</h6>
                </div>
                <div class="col-12  col-sm-3 col-lg-4 durationInline">
                  <h6>End : </h6>
                  <h6>Feb-2021</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="boxShadow">
            <h5>Description</h5>
            <p>Food safety refers to routines in the preparation, handling and storage of food meant to prevent foodborne illness and injury. In this sense, food safety is a systemic approach to hygiene and accountability that concerns every aspect of the global food industry.
            </p>
          </div>
          <div class="boxShadow">
            <h5>Environment</h5>
            <p>Worked on Python, Django Jquery,& MySql DB, CSS and bootstrap 3 etc</p>
          </div>
          <div class="boxShadow">
            <h5>Roles & Responsibilities</h5>
            <ul>
              <li>Working On second phase of implementation and Every phase we are adding new functionality </li>
              <li>Code review and refactoring.</li>
              <li>Responsible for doing unit testing & integration testing of the code.</li>
              <li>Working on performance tuning to speed up the system</li>
              <li>Involved in solving the issues which we got from QA</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal  -->
  <div class="modal fade" id="matrimonyModal" tabindex="-1" role="dialog" aria-labelledby="matrimonyModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="matrimonyModalLabel">Project Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="boxShadow">
            <div>
              <h3>Matrimony</h3>
            </div>
            <div class="duration">
              <div class="durationBody  col-sm-12">
                <div class="col-12 col-sm-3 col-lg-4 durationInlineLeft">
                  <h6>Duration</h6>
                </div>
                <div class="col-12  col-sm-3 col-lg-4 durationInlineLeft">
                  <h6>Start : </h6>
                  <h6>Sep-2019</h6>
                </div>
                <div class="col-12  col-sm-3 col-lg-4 durationInline">
                  <h6>End : </h6>
                  <h6>Oct-2020</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="boxShadow">
            <h5>Description</h5>
            <p>We believe choosing a life partner is a big and important decision, and hence work towards giving a simple and secure   matchmaking experience for you and your family. Each profile registered with us goes through a manual screening process before going live on site; we provide superior privacy controls for Free; and also verify contact information of members.

              You can register for Free and search according to your specific criteria on age, height, community, profession, income, location and much more- on your computer, tablet or mobile. Regular custom mails and notifications make the process easier and take you closer to your Jeevansathi!
            </p>
          </div>
          <div class="boxShadow">
            <h5>Environment</h5>
            <p>Worked on Angular 10, HTML5, SCSS, Bootstrap, Angular material etc.</p>
          </div>
          <div class="boxShadow">
            <h5>Roles & Responsibilities</h5>
            <ul>
              <li>I was including in E2E development of the project which includes requirement gathering,
                Designing, Coding activities and Maintenance</li>
              <li>Experimenting with latest front-end technologies as a part of implementation of the high-volume
                external web app that helped to improve speed of web development.</li>
              <li> Code review and refactoring. </li>
              <li> Involved in solving the issues which we got from QA.</li>
              <li>Working on performance tuning to speed up the system.
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Modal  -->
  <div class="modal fade" id="hawesandcurtis" tabindex="-1" role="dialog" aria-labelledby="hawesandcurtisLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="hawesandcurtisLabel">Project Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="boxShadow">
            <div>
              <h3>Hawes and Curtis</h3>
            </div>
            <div class="duration">
              <div class="durationBody  col-sm-12">
                <div class="col-12 col-sm-3 col-lg-4 durationInlineLeft">
                  <h6>Duration</h6>
                </div>
                <div class="col-12  col-sm-3 col-lg-4 durationInlineLeft">
                  <h6>Start : </h6>
                  <h6>Mar-2021</h6>
                </div>
                <div class="col-12  col-sm-3 col-lg-4 durationInline">
                  <h6>End : </h6>
                  <h6>Aug-2021</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="boxShadow">
            <h5>Description</h5>
            <p>Hawes & Curtis is famous for its quintessentially British menswear and womenswear ranges. With over 100 years of heritage, Hawes & Curtis has a distinguished British past and a promising international future. </p>
          </div>
          <div class="boxShadow">
            <h5>Environment</h5>
            <p> Worked on  Angular 10, HTML, SCSS, Bootstrap etc.</p>
          </div>
          <div class="boxShadow">
            <h5>Roles & Responsibilities</h5>
            <ul>
              <li> I was including in E2E development of the project which includes requirement gathering,
                Designing, Coding activities and Maintenance</li>
              <li>Experimenting with latest front-end technologies as a part of implementation of the high-volume
                external web app that helped to improve speed of web development. </li>
              <li> Responsible for doing unit testing of the code. </li>
              <li> Code review and refactoring. </li>
              <li>Working on performance tuning to speed up the system. </li>
              <li> Involved in solving the issues which we got from QA.</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Modal  -->
  <div class="modal fade" id="actionplannerModal" tabindex="-1" role="dialog" aria-labelledby="actionplannerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="actionplannerModalLabel">Project Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="boxShadow">
            <div>
              <h3>Action Planner</h3>
            </div>
            <div class="duration">
              <div class="durationBody  col-sm-12">
                <div class="col-12 col-sm-3 col-lg-4 durationInlineLeft">
                  <h6>Duration</h6>
                </div>
                <div class="col-12  col-sm-3 col-lg-4 durationInlineLeft">
                  <h6>Start : </h6>
                  <h6>Aug 2018</h6>
                </div>
                <div class="col-12  col-sm-3 col-lg-4 durationInline">
                  <h6>End : </h6>
                  <h6>Sep-2019</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="boxShadow">
            <h5>Description</h5>
            <p>Action Planner is a business management tool that involves Planning Objectives, Tracking Initiatives,
              Reporting
              Actions of individuals collaborate and share report for the accomplishment of collective goals. </p>
          </div>
          <div class="boxShadow">
            <h5>Environment</h5>
            <p>Worked on Core PHP, AngularJS,MYSQL, HTML, SCSS, Bootstrap, Java Script etc. </p>
          </div>
          <div class="boxShadow">
            <h5>Roles & Responsibilities</h5>
            <ul>
              <li> Role is a Junior Developer </li>
              <li>Worked on New future’s and Bug fixes and Optimization
              <li> Responsible for doing unit testing of the code. </li>
              <li> Code review and refactoring. </li>
              <li> Involved in solving the issues which we got from QA.</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Modal  -->
  <div class="modal fade" id="qurstoreModal" tabindex="-1" role="dialog" aria-labelledby="qurstoreModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="qurstoreModalLabel">Project Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="boxShadow">
            <div>
              <h3>Qur Store</h3>
            </div>
            <div class="duration">
              <div class="durationBody  col-sm-12">
                <div class="col-12 col-sm-3 col-lg-4 durationInlineLeft">
                  <h6>Duration</h6>
                </div>
                <div class="col-12  col-sm-3 col-lg-4 durationInlineLeft">
                  <h6>Start : </h6>
                  <h6>Sep-2019</h6>
                </div>
                <div class="col-12  col-sm-3 col-lg-4 durationInline">
                  <h6>End : </h6>
                  <h6>Oct-2020</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="boxShadow">
            <h5>Description</h5>
            <p>QurHealth is a healthcare data management organization with a focus on delivering innovative Healthcare
              IT solutions across the broader healthcare ecosystem. Built and owned by Ventech solutions,
              QurHealth provides holistic IT-healthcare offerings touching several healthcare players,
              including care providers, payers, patients, and researchers. </p>
          </div>
          <div class="boxShadow">
            <h5>Environment</h5>
            <p> Worked on MongoDb, NodeJs, Angular, HTML, SCSS, Bootstrap, Angular material etc.</p>
          </div>
          <div class="boxShadow">
            <h5>Roles & Responsibilities</h5>
            <ul>
              <li> I was including in E2E development of the project which includes requirement gathering,
                Designing, Coding activities and Maintenance</li>
              <li>Experimenting with latest front-end technologies as a part of implementation of the high-volume
                external web app that helped to improve speed of web development. </li>
              <li> Responsible for doing unit testing of the code. </li>
              <li> Code review and refactoring. </li>
              <li>Working on performance tuning to speed up the system. </li>
              <li> Involved in solving the issues which we got from QA.</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>