
<!-- <app-navbar></app-navbar> -->
<app-head-bar></app-head-bar>
        <!-- Masthead-->
        <banner></banner>
        <!-- About-->
        <about></about>
     
        <!-- Services-->
        <services></services>
        <!-- Portfolio-->
        <!-- <app-experience></app-experience> -->
        <!-- <portfilio></portfilio> -->
        
        <app-timeline></app-timeline>
        <app-my-work></app-my-work>
        <!-- Call to action-->
        <contact-us></contact-us>
        <!-- Contact-->
        
        <!-- Footer-->
       <!-- <app-footer></app-footer> -->
       
      