
<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">My Stack</h2>
        <hr class="divider my-4" />
        <div class="row setCards">
                <div class="card" style="width: 18rem;">
                    <img src="assets/angular.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Angular JS</h5>
                      <p class="card-text">I worked more than 2 years on Angular..!<br>
                        Worked on Angular7,8,9,10 and 11 and also Version 1.o</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="assets/react.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">React JS</h5>
                      <p class="card-text">I worked more than 1 year on React!<br>
                            Good Hands on Experience on It.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="assets/frontEnd.jfif" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Frontend Base Stack</h5>
                      <p class="card-text">I worked more than 2.7 years on These tech stack..!<br>
                        Having a deep Knowledge on each technology</p>
                    </div>
                  </div>
            <!-- <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                    <h3 class="h4 mb-2"></h3>
                    <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                </div>
            </div> -->
        </div>
    </div>
</section>