
<section class="page-section" id="services" *ngIf="data">
    <div class="container">
        <h2 class="text-center mt-0">My Stack</h2>
        <hr class="divider my-4" />
        <div class="row setCards">
                <div class="card" style="width: 18rem;" *ngFor="let stack of data.stack">
                    <img src={{stack.image}} class="card-img-top" alt={{stack.name}}>
                    <div class="card-body">
                      <h5 class="card-title">{{stack.name}}</h5>
                      <p class="card-text">{{stack.description}}</p>
                    </div>
                  </div>
                  <!-- <div class="card" style="width: 18rem;">
                    <img src="assets/react.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">React JS</h5>
                      <p class="card-text">I worked more than 1 year on React!.
                            Good Hands on Experience on It.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="assets/frontEnd.jfif" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Frontend Base Stack</h5>
                      <p class="card-text">I worked more than 4 years on These tech stack..!.
                        Having a deep Knowledge on each technology</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="assets/MEAN.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">MEAN Stack</h5>
                      <p class="card-text">I worked 1 year on it!.
                        Worked on a project using MEAN stack from scrath and completed three phases of it.</p>
                    </div>
                  </div> -->
          
        </div>
    </div>
</section>