


.rating-section{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    i{
        color: #52afec;
        margin-left: 20px;
    }
}
.card-footer{
    // display: flex;
    // justify-content: center;
    // margin-top: 20px;
    text-align: end;
    i{
        font-size: 20px;
        color: #52afec;
        margin-left: 10px;
    }
}
.tech-img{
    text-align: center;
    overflow: hidden;
    img{
        width: auto;
        height: 200px;
    }
}
.card-padding{
    padding: 18px 0px 0px 0px;
}