<section class="page-section container-padding" id="my-work">
    <div class="">
      <h2 class="text-center mt-0 text-blue fw-600">Recents works</h2>
      <hr class="divider dark my-4" />
      <div class="cards">
        <div class="items">
            <img src="../../../assets/banner2.jpg" alt="">
            <p>Visit my work</p>
        </div>
        <div class="items">
            <img src="../../../assets/banner2.jpg" alt="">
        </div>
        <div class="items">
            <img src="../../../assets/banner2.jpg" alt="">
        </div>
        <div class="items">
            <img src="../../../assets/banner2.jpg" alt="">
        </div>
        <div class="items">
            <img src="../../../assets/banner2.jpg" alt="">
        </div>
        <div class="items">
            <img src="../../../assets/banner2.jpg" alt="">
        </div>
        
        
      </div>
    </div>
  </section>