
  h1 {
    text-align: center;
    padding: 50px 0;
    font-weight: 800;
    margin: 0;
    letter-spacing: -1px;
    color: inherit;
    font-size: 40px;
  }

  
  .center {
    text-align: center;
  }
  
  section {
    background: var(--main-header-color);
    color: #fff;
  }
  
  /* NAVIGATION */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width:1023px){
        padding:0 20px;
    }
   background: var(--main-header-color);
  }
  nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #fff;
  }
  
  
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #fff;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
  nav.fill ul li a {
    transition: all 2s;
  }
  
  nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  

  
  @media (min-width:1024px){
    .navbar-expand-sm .navbar-collapse{
        justify-content: end;
    }
   
  }
  @media (max-width:1024px){
    .showMenu{
        display: block !important;
      }
   
  }
  .nav-link{
    color: #fff !important;
  }