/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');
@import url('./styles/_variable.scss');

html {
  scroll-behavior: smooth
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'AR One Sans', sans-serif;

}

@import "~bootstrap/dist/css/bootstrap.css";

.mat-ink-bar,
.mat-mdc-tab-labels {
  background-color: #7cceed;
}

hr.divider {
  width: 150px;
  border: 2px solid #fff;
}

.container-padding {
  padding: 70px 60px;
  background: var(--background-color) !important;
}

@media only screen and (min-width: 992px) {
  .stack-box {
    img {
      width: 120px;
      height: 70px;
    }
  }

  .container-timeline {
    padding: 5% 10% 10% 10%;
  }
  
 

}

@media only screen and (max-width: 992px) {
  .container-timeline {
    padding: 30px;
  }
  .resume-container{
    display: block !important;
    .resume-title{
      font-size: 24px;
      text-align: center;
    }
    .download-button{
      display: block;
      text-align: -webkit-center;
    }
  }
  .resume-item{
    padding: 20px 14px !important;
    h3{
      font-size: 16px;
    }
  }
  .timeline-content{
    font-size: 12px;
    padding: 0px !important;
  }
}


.btn-one{
  background-color: #44b3dd;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  padding: 15px;
  border-radius: 40px;
  width: 250px;
}
.btn-one:hover{
  color: #212529;
    border-color: #3d6a90;
    background: #fff !important;
    box-shadow: 1px 1px 1px 1px #6ca7e0;
    transition: all 0.5s ease;
}